@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Overpass:500,600,800,900);

$background-color:              rgba(2,3,4,1);
$background-color-blue:     rgba(0,34,53,.55);
$color-grey:                 rgba(34,44,54,1);
$color-white:           rgba(250,232,232,.95);
$font-base:                              12px;
$font-base-lg:                           18px;
$font-heading:                          3.8em;
$font-medium:                           1.6em;
$font-small:                            1.3em;
$font-weight-light:                       500;
$font-weight-bold:                        600;
$font-weight-heavy:                       800;
$font-weight-x-heavy:                     900;


/*
  -----------------------
       base styles
  -----------------------
*/


html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-image: radial-gradient(75% 90% at top, $background-color-blue, #000e16 100%);
  background-color: $background-color;
  background-position: top center;
  overflow: hidden;
  font-family: 'Overpass', sans-serif;
  font-size: $font-base;
  font-weight: $font-weight-light;
  margin: 0;
  padding: 0;
}

pl-leaderboard {
  position: relative;
  height: 100%;
  z-index: 2;

  hgroup {
    line-height: 1.5;
    margin: 1.8% 0 4%;

    .leaders-header {
      background-image: -webkit-linear-gradient($color-white, #0f3c69);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $color-white;
      font-size: $font-heading;
      font-weight: $font-weight-heavy;
      text-align: center;
      text-transform: uppercase;
      word-wrap: normal;
      letter-spacing: 3px;

      .hacker-svg::before {
        content:url('../../assets/rh-icon-hacker.svg');
        display: inline-block;
        width: 5%;
      }
    }

    .challenge-subtitle {
      font-size: $font-medium;
      color: $color-white;
      text-align: center;
      // line-height: 1.75;
    }

    // .issue {
    //   font-size: $font-medium;
    //   color: $color-white;
    //   text-align: center;
    //   font-style: italic;
    //   opacity: .8;
    // }
  }

  article {
    margin: 0 auto;
    max-width: 70%;

    section {
      width: 100%;

      ul {
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
        list-style-type: none;
        color: #f2d0d0;
        // text-shadow: 1px 0px 5px #000;
        // background-color: rgba(25,25,180,.25);
      }
    }
  }
}


/*
  -----------------------
      leader titles
  -----------------------
*/

ul.leader-titles {
  margin-bottom: 1.2%;
  // padding-bottom: 1vh;
  // border-bottom: 1px solid rgba(255, 255, 255, .2);

  li {
    font-size: $font-small;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 2% .5%;
    opacity: .8;

    .username {
      // padding-left: 1%;
    }
  }
}


/*
  -----------------------
       leaders list
  -----------------------
*/

pl-leaderboard article section ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .rank {
    width: 8%;
    max-width: 8%;
  }

  .username {
    width: 65%;
    max-width: 65%;
    word-break: break-all;
  }

  .score {
    width: 27%;
    max-width: 27%;
    text-align: right;
  }
}

ul.leaders li {
  // background-color: rgba(102,0,0,.8);
  border-bottom: 1px solid rgba(0,0,0,.5);
  font-size: $font-medium;
  font-weight: $font-weight-heavy;
  letter-spacing: 2.2px;
  padding: 2.3% 2.5%;
  height: 100%;
  color: #bdccd1;

  .username::before {
    content: "|";
    margin-right: 5.5%;
    opacity: .25;
  }

  // &:first-child {
  //   color: #4e9deb;
  //   font-weight: $font-weight-heavy;
  // }

    // .score::before {
    //   content: url('../../assets/rh-icon-award-ribbon.svg');
    //   margin-right: 4%;
    // }

  // .score {
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-end;
  // }
}


/*
  -----------------------
        scaling
  -----------------------
*/

@media (min-width: 1920px) {

  hgroup .hacker-svg::before {
    width: 8%;
  }

  body {
    font-size: $font-base-lg;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 60%;
    max-height: 80%;
  }
}


/*
  -----------------------
      list gradient
  -----------------------
*/

pl-leaderboard article section ul.leaders li:first-child   { background-color: rgba(190,1,1,.60); }
pl-leaderboard article section ul.leaders li:nth-child(2)  { background-color: rgba(180,1,1,.60); }
pl-leaderboard article section ul.leaders li:nth-child(3)  { background-color: rgba(169,0,0,.60); }
pl-leaderboard article section ul.leaders li:nth-child(4)  { background-color: rgba(160,0,0,.60); }
pl-leaderboard article section ul.leaders li:nth-child(5)  { background-color: rgba(154,1,1,.60); }
pl-leaderboard article section ul.leaders li:nth-child(6)  { background-color: rgba(145,1,1,.60); }
pl-leaderboard article section ul.leaders li:nth-child(7)  { background-color: rgba(134,1,1,.60); }
pl-leaderboard article section ul.leaders li:nth-child(8)  { background-color: rgba(124,0,0,.60); }
pl-leaderboard article section ul.leaders li:nth-child(9)  { background-color: rgba(112,0,0,.60); }
pl-leaderboard article section ul.leaders li:nth-child(10) { background-color: rgba(102,0,0,.60); }

@import "animations.scss";
