@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Overpass:500,600,800,900);

$background-color:                 rgba(2,3,4,1);
$background-color-blue:        rgba(0,34,53,.55);
$color-grey:                    rgba(34,44,54,1);
$color-white:               rgba(252,250,249,.6);
$font-base:                                 12px;
$font-base-lg:                              18px;
$font-heading:                             4.2em;
$font-subtitle:                              2em;
$font-medium:                              1.6em;
$font-small:                               1.3em;
$font-weight-light:                          500;
$font-weight-bold:                           600;
$font-weight-heavy:                          800;
$font-weight-x-heavy:                        900;


/*
  -----------------------
       base styles
  -----------------------
*/


html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-image: radial-gradient(75% 90% at top, $background-color-blue, #000e16 100%);
  background-color: $background-color;
  background-position: top center;
  overflow: hidden;
  font-family: 'Overpass', sans-serif;
  font-size: $font-base;
  font-weight: $font-weight-light;
  margin: 0;
  padding: 0;
}

pl-leaderboard {
  position: relative;
  height: 100%;
  z-index: 2;

  hgroup {
    line-height: 1.45;
    margin: 1.5% 0 2.3%;

    .leaders-header {
      background-image: -webkit-linear-gradient(#F8AF3E, #ED5724);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $color-white;
      font-size: $font-heading;
      font-weight: $font-weight-heavy;
      text-align: center;
      text-transform: uppercase;
      word-wrap: normal;
      letter-spacing: 3px;
    }

    .challenge-subtitle {
      font-size: $font-medium;
      text-align: center;
      color: #b94b25;
      font-weight: 600;
    }
  }

  article {
    margin: 0 auto;
    max-width: 60%;

    ul {
      padding: 0;
      max-width: 100%;
      list-style-type: none;
      color: rgba(207, 190, 190, .85);

      li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .rank {
          width: 12%;
          max-width: 12%;
        }

        .username {
          width: 64%;
          max-width: 64%;
          word-break: break-all;
        }

        .score {
          width: 24%;
          max-width: 24%;
          text-align: right;
        }
      }
    }
  }
}


/*
  -----------------------
      leader titles
  -----------------------
*/

ul.leader-titles {
  margin-bottom: 1%;

  li {
    font-size: $font-small;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 1.8% .5%;
    opacity: .65;
  }
}

/*
  -----------------------
       leaders list
  -----------------------
*/

pl-leaderboard article section ul.leaders li {
  border-top: 1px solid rgba(0,0,0,.5);
  font-size: $font-medium;
  font-weight: $font-weight-bold;
  letter-spacing: 2.4px;
  padding: 0 2.55%;
  height: 100%;

  > * {
    padding: 2.35% 0;
  }

  &:first-child {
    color: #F8AF3E;
    font-weight: $font-weight-heavy;
  }

  .username:before {
    border-left: 1px solid black;
  }

  .rank {
    font-size: 1.1em;
  }

  .rank:after {
    display: inline-block;
    content: "th";
    font-weight: 500;
    text-transform: uppercase;
    font-size: .6em;
    vertical-align: top;
    line-height: 1em;
    margin: .15em 0 0 .2em;
  }

  &:nth-child(1) .rank:after {
    content: "st";
  }

  &:nth-child(2) .rank:after {
    content: "nd";
  }

  &:nth-child(3) .rank:after {
    content: "rd";
  }
}

/*
  -----------------------
        scaling
  -----------------------
*/

@media (min-width: 1920px) {

  body {
    font-size: $font-base-lg;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 60%;
    max-height: 80%;
  }
}


/*
  -----------------------
      list gradient
  -----------------------
*/

pl-leaderboard article section ul.leaders li:first-child   { background-color: rgba(190,1,1,.60); }
pl-leaderboard article section ul.leaders li:nth-child(2)  { background-color: rgba(180,1,1,.60); }
pl-leaderboard article section ul.leaders li:nth-child(3)  { background-color: rgba(169,0,0,.60); }
pl-leaderboard article section ul.leaders li:nth-child(4)  { background-color: rgba(160,0,0,.60); }
pl-leaderboard article section ul.leaders li:nth-child(5)  { background-color: rgba(150,1,1,.60); }
pl-leaderboard article section ul.leaders li:nth-child(6)  { background-color: rgba(140,1,1,.60); }
pl-leaderboard article section ul.leaders li:nth-child(7)  { background-color: rgba(134,1,1,.60); }
pl-leaderboard article section ul.leaders li:nth-child(8)  { background-color: rgba(124,0,0,.60); }
pl-leaderboard article section ul.leaders li:nth-child(9)  { background-color: rgba(112,0,0,.60); }
pl-leaderboard article section ul.leaders li:nth-child(10) { background-color: rgba(102,0,0,.60); }

@import "animations.scss";
