@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Overpass:500,600,800);

/*
  -----------------------
       base styles
  -----------------------
*/

$background-color:                    #020304;
$background-color-blue:               #002235;
$font-base:                              12px;
$font-base-lg:                           16px;
$font-heading:                          4.5em;
$font-subtitle:                         2.5em;
$font-table:                            1.8em;
$font-titles:                           1.5em;
$font-weight-light:                       500;
$font-weight-bold:                        600;
$font-weight-heavy:                       800;
$color-white:           rgba(250,232,232,.95);
$color-grey:                 rgba(56,73,90,1);


html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Overpass', sans-serif;
  font-size: $font-base;
  font-weight: $font-weight-light;
  // background: radial-gradient(ellipse at bottom, #0b1016 0%, $background-color 100%);
  background-image: radial-gradient(75% 90% at top, $background-color-blue, #000f18 100%);
  background-color: $background-color;
  background-position: top center;
  overflow: hidden;
}

pl-leaderboard {
  position: relative;
  height: 100%;
  z-index: 2;
  color: $color-white;

  hgroup {
    line-height: 1.4;
    margin-bottom: 1vh;

    .leaders-header {
      font-size: $font-heading;
      font-weight: $font-weight-heavy;
      text-align: center;
      text-transform: uppercase;
      margin: 2.5vh auto 0;
      word-wrap: normal;
      letter-spacing: 3px;
      background-image: -webkit-linear-gradient($color-white, $color-grey);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $color-white;

      .hacker-svg::before {
        content:url('../../rh-icon-hacker.svg');
      }

      // This is another option for the hacker icon ->
      //   You'd also remove .hacker-svg from leaderboard.html
      // &::before {
      //   content:url('../../rh-icon-hacker.svg');
      //   margin-right: 1%;
      // }
    }

    .challenge-subtitle {
      font-size: $font-subtitle;
      text-align: center;
      color: $color-white;
      opacity: .7;
    }
  }

  article {
    margin: 1.5vh 0;
    height: 100%;
    max-height: 100%;

    section {
      width: 100%;

      ul {
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
        list-style-type: none;
      }
    }
  }
}


/*
  -----------------------
      leader titles
  -----------------------
*/

ul.leader-titles {
  margin-bottom: 1.5vh;
  padding-bottom: 1vh;
  border-bottom: 1px solid rgba(255, 255, 255, .2);

  li {
    font-size: $font-titles;
    font-weight: $font-weight-bold;
    letter-spacing: .5px;
    padding: 0 2% .5%;
    opacity: .675;
  }
}


/*
  -----------------------
       leaders list
  -----------------------
*/

pl-leaderboard article section ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .rank {
    width: 15%;
    max-width: 15%;
  }

  .username {
    width: 60%;
    max-width: 60%;
    word-break: break-all;
  }

  .score {
    width: 25%;
    max-width: 25%;
    text-align: right;
  }
}

ul.leaders li {
  font-size: $font-table;
  font-weight: $font-weight-light;
  letter-spacing: 1px;
  padding: 2% 2% 2%;
  height: 100%;
  background-color: rgba(102,0,0,.8);
  border-bottom: 1px solid rgba(0,0,0,.5);

  &:first-child {
    padding: .65% 3% .8%;

    .score::before {
      content: url('../../rh-icon-award-ribbon.svg');
      margin-right: 4%;
    }
  }

  .score {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


/*
  -----------------------
      media queries
  -----------------------
*/

@media (min-width: 1024px) and (max-width: 1920px) {

  h1.leaders-header {
    max-width: 75vw;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 75vw;
    max-height: 80vh;
  }
}

@media (min-width: 1920px) {

  body {
    font-size: $font-base-lg;
  }

  pl-leaderboard article h1.leaders-header {
    max-width: 65vw;
  }

  pl-leaderboard article {
    margin: 0 auto;
    max-width: 65vw;
    max-height: 80vh;
  }
}


/*
  -----------------------
    rank color gradient
  -----------------------
*/

pl-leaderboard article section ul.leaders li:first-child   { background-color: rgba(190,1,1,.75); }
pl-leaderboard article section ul.leaders li:nth-child(2)  { background-color: rgba(180,1,1,.75); }
pl-leaderboard article section ul.leaders li:nth-child(3)  { background-color: rgba(169,0,0,.75); }
pl-leaderboard article section ul.leaders li:nth-child(4)  { background-color: rgba(160,0,0,.75); }
pl-leaderboard article section ul.leaders li:nth-child(5)  { background-color: rgba(154,1,1,.75); }
pl-leaderboard article section ul.leaders li:nth-child(6)  { background-color: rgba(145,1,1,.75); }
pl-leaderboard article section ul.leaders li:nth-child(7)  { background-color: rgba(134,1,1,.75); }
pl-leaderboard article section ul.leaders li:nth-child(8)  { background-color: rgba(124,0,0,.75); }
pl-leaderboard article section ul.leaders li:nth-child(9)  { background-color: rgba(112,0,0,.75); }
pl-leaderboard article section ul.leaders li:nth-child(10) { background-color: rgba(102,0,0,.75); }

@import "animations.scss";
